{% extends 'ui_templates/base.html' %}
{% block css %}
    <style>
  html,
  body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
  }
  .main {
    width: 900px; /* Can be in percentage also. */
    height: auto;
    margin: 150px auto;
    padding: 10px;
    position: relative;
  }
    </style>
{% endblock %}
{% block body %}
    <div class="container wrapper">
        <div class="main">
            <p class="text">
                We've emailed you instructions for setting your password, if an account
                exists with the email you entered. You should receive them shortly. If you
                don't receive an email, please make sure you've entered the address you
                registered with, and check your spam folder.
            </p>
        </div>
    </div>
{% endblock %}
